<div class="card">
<!--  <p-table [value]="filteredProducts" [tableStyle]="{ 'min-width': '50rem' }">-->
<!--    <ng-template pTemplate="header">-->
<!--      <div class='row'>-->
<!--        <div class='col-md-4'>Filter by:</div>-->
<!--        <div class='col-md-2'>-->
<!--          <input type='text'-->
<!--                 [(ngModel)]='listFilter' />-->
<!--        </div>-->
<!--      </div>-->
<div class="lg:flex-order-2 h-6rem font-bold text-left pt-3 pl-3 pl-1 ">
  <div class='row'>
    <div class='col-md-4'>Filter by:</div>
    <div class='col-md-2'>
     <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="listFilter" />
    </span>
    </div>
  </div>
</div>
<p-table [value]="filteredProducts" [tableStyle]="{ 'min-width': '100%' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%;" scope="col">#</th>
      <th scope="col">Food</th>
      <th scope="col">CaloriePer100g</th>
      <th scope="col">ProteinPer100g</th>
      <th scope="col">FatPer100g</th>
      <th scope="col">CarbohydratePer100g</th>
      <th scope="col">
        <p-button  label="Create" (click)='onCreate()' [raised]="true" size="small"></p-button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id | number }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.caloriePer100g | number }}</td>
      <td>{{ product.proteinPer100g | number }}</td>
      <td>{{ product.fatPer100g | number }}</td>
      <td>{{ product.carbohydratePer100g | number }}</td>
      <div class="ml-3 mt-2 mb-2">
        <p-button  label="Update" (click)='onUpdate(product.id)' [text]="true" [raised]="true" size="small"></p-button>
        <div class="mt-2">
          <p-button  label="Delete" (click)='onDelete(product.id)' [text]="true" [raised]="true" [plain]="true" size="small"></p-button>
        </div>
        <!--          <ngb-toast *ngIf="show" header="Hello" [autohide]="false" (hidden)="show=false">-->
        <!--            {{product.name}} is removed.-->
        <!--          </ngb-toast>-->
      </div>
    </tr>
  </ng-template>
</p-table>
</div>
