<div class="mt-3 pl-3">
<div *ngIf="form">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="field grid">
      <label for="name" class="col-fixed" style="width:310px">Input name:</label>
      <div class="col">
        <input id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="calorie" class="col-fixed" style="width:310px">Input calorie per 100g:</label>
      <div class="col">
        <input id="calorie" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="protein" class="col-fixed" style="width:310px">Input protein per 100 g:</label>
      <div class="col">
        <input id="protein" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="fat" class="col-fixed" style="width:310px">Input fat per 100 g:</label>
      <div class="col">
        <input id="fat" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="carbohydrate" class="col-fixed" style="width:310px">Input carbohydrate per 100 g:</label>
      <div class="col">
        <input id="carbohydrate" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="flex align-items-center flex-wrap">
      <p-button  label="Submit" [disabled]="!form.valid" [raised]="true" size="small"></p-button>
    <div class="ml-2">
      <div *ngIf="product?.id">
        <p-button  label="Delete" (click)='delete()' [text]="true" [raised]="true" [plain]="true" size="small"></p-button>
      </div>
    </div>
    </div>
  </form>
  <div style="color:gray; min-height: 70px" >
  {{ form.value | json }}
  valid :{{ form.valid }}
  </div>
</div>
</div>
