<div class="formgrid grid align-items-center mt-2">
  <div class="field col-12 md:col-6">
    <img alt="User Photo" class="shadow-3 w-9 h-7" src="assets/images/avatar.jpg"/>
  </div>

  <div class="field col-12 md:col-6">
    <p class="font-bold text-xl">Stephanie</p>
    <p style="color: hsl(0, 0%, 70%);">afehgopk@gmail.com</p>

    <div class="mt-6">
    <div class="formgroup-inline align-items-baseline">
      <label for="currentWeight"><strong>Current weight:</strong> 70 kg</label>
      <div class="field col-12 md:col-1">
      <input id="currentWeight" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
      <label for="desiredWeight"><strong>Desired weight:</strong> 60 kg</label>
     <div class="field col-12 md:col-1">
      <input id="desiredWeight" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
     </div>
    </div>

      <p>Calculate recommended calorie:</p>
    <div class="formgroup-inline align-items-center">
      <p-button [outlined]="true" size="small">
        <i class="pi pi-check" ></i>
        <span class="ml-1 font-bold">Submit</span>
      </p-button>
      <p-button class="ml-3" label="Calculate"  icon="pi pi-calculator" size="small"></p-button>
    </div>

      <div class="formgroup-inline align-items-center">
        <p style="color: hsl(0, 0%, 70%);">Lost: 10 kg</p>
        <p class="ml-6" style="color: hsl(0, 0%, 70%);">Starting weight: 72 kg</p>
      </div>

    <p class="font-semibold text-lg mt-6">Goals:</p>

    <div class="flex">
      <p><strong>Calories:</strong> 1700</p>
      <p class="ml-6"><strong>Protein:</strong> 110 g</p>
      <p class="ml-6"><strong>Fates:</strong> 60 g</p>
      <p class="ml-6"><strong>Carbohydrates:</strong> 190 g</p>
    </div>
  </div>

  </div>
</div>


<router-outlet></router-outlet>
