<div class="formgrid grid align-items-center mt-2">
  <div class="field col-12 md:col-6">
    <img alt="User Photo" class="shadow-3 w-9 h-7" src="assets/images/avatar.jpg"/>
  </div>

  <div class="field col-12 md:col-6">
    <p class="font-bold text-xl">{{ user?.userName }}</p>
    <p style="color: hsl(0, 0%, 70%);">{{user?.email}}</p>

    <div class="mt-6">
      <div class="formgroup-inline flex-column">
        <div class="field">
          <label for="currentWeight">{{user?.currentWeight}} kg</label>
          <input id="currentWeight" type="number" class="text-base text-color surface-overlay p-2 w-7 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Current weight">
        </div>
        <div class="field">
          <label for="desiredWeight">{{user?.desiredWeight}} kg</label>
          <input id="desiredWeight" type="number" class="text-base text-color surface-overlay p-2 w-7 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Desired weight">
        </div>
        <div class="field">
          <label for="height">{{user?.height}} cm</label>
          <input id="height" type="number" class="text-base text-color surface-overlay p-2 w-7 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Height">
        </div>
        <div class="field">
          <label for="age">{{user?.age}} years</label>
          <input id="age" type="number" class="text-base text-color surface-overlay p-2 w-7 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" placeholder="Age">
        </div>
        <div class="field" *ngIf="user">
          <label>{{user.gender}}</label>
          <p-dropdown [options]="genderOptions" [(ngModel)]="user.gender" placeholder="Select a gender" optionLabel="label"></p-dropdown>
        </div>
        <div class="field" *ngIf="user">
          <label>{{user.activityLevel}}</label>
          <p-dropdown [options]="activityLevelOptions" [(ngModel)]="user.activityLevel" placeholder="Select an activity level" optionLabel="label"></p-dropdown>
        </div>
        <div class="field">
        <p>Calculate recommended calorie:</p>
        <button type="button" (click)="onSubmit()" class="pi pi-check bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700 mr-3">Submit</button>
        <button type="button" class="pi pi-calculator bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Calculate</button>
      </div>
      </div>

      <div class="formgroup-inline align-items-center">
        <p style="color: hsl(0, 0%, 70%);">Lost: 10 kg</p>
        <p class="ml-6" style="color: hsl(0, 0%, 70%);">Starting weight: 72 kg</p>
      </div>

    <p class="font-semibold text-lg mt-6">Goals:</p>

    <div class="flex">
      <p><strong>Calories:</strong> 1700</p>
      <p class="ml-6"><strong>Protein:</strong> 110 g</p>
      <p class="ml-6"><strong>Fates:</strong> 60 g</p>
      <p class="ml-6"><strong>Carbohydrates:</strong> 190 g</p>
    </div>
  </div>

  </div>
</div>

<router-outlet></router-outlet>
